@font-face {
    font-family: "vazir";
    font-weight: 100;
    src: url(./assests/fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-Light-FD.woff2) format("woff2");
}

@font-face {
    font-family: "vazir";
    font-weight: 500;
    src: url(./assests/fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-FD.woff2) format("woff2");
}

@font-face {
    font-family: "vazir";
    font-weight: bold;
    src: url(./assests/fonts/vazir-font-v18.0.0/Vazir-Bold.woff2) format("woff2");
}