/* Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Root Variable */
:root {
    --color-primary: #ff5722;
    --color-primary-light: #ff7a50;
    --color-secondary-light: #fff6f2;
    --color-secondary-dark: #ffa589;
    --color-navbar-: #f8f8f8;
    --color-heading: #000;
    --color-body: #333333;
    --color-white: #fff; 
}

html {
    font-size: 62.5%;
    font-family: "vazir";
 }

body,
button {
    color: var(--color-body);
    font-size: 1.4rem;
    text-align: justify;
}

h1,
h2, 
h3 {
    color: var(--color-heading);
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1.8rem;
    }
    
    h1 {
        font-size: 5rem;
    }
    
    h2 {
        font-size: 3.5rem;
    }
}

.btn {
    font-family: "vazir";
    cursor: pointer;
    outline: 0;
    border: 0;
    padding: 2rem 2.5rem;
    border-radius: 8px;
    margin: 1rem 0;
    text-align: center;
    white-space: nowrap;
    font-size: 1.4rem;
}

.btn--primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.btn--secondary {
    background-color: var(--color-secondary-dark);
    color: var(--color-white);
}

.btn--block {
    width: 100%;
    font-size: 1.6rem;
    margin-top: 10rem;
}

@media screen and (min-width: 768px) {
    .btn {
        font-size: 1.6rem;
    }   

    .btn--block {
        font-size: 2rem;
        margin-top: 5rem;
    }
}

/* Badge variable */
.badge {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: var(--color-primary);
    background-color: var(--color-white);
    border: 2px solid var(--color-primary);
    border-radius: 32px;
    text-transform: uppercase;
    direction: ltr;
}

.badge--primary {
    color: var(--color-white);
    background-color: var(--color-primary);
}

/* list variable */
.list {
    list-style: none;
    font-size: 1.6rem;
}

.list--inline .list--item {
    display: inline-block;
    margin-left: 2rem;
}

.list--item i {
    color: rgb(41, 163, 17);
    font-size: 3rem;
}

.list .list--item {
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
    .list {
        font-size: 1.8rem;   
    }

    .list--inline .list--item {
        margin-left: 2.5rem;
    }

    .list .list--item {
        margin-bottom: 2rem;
    }
}

.block--plan {
    display: flex;
    flex-direction: column;
    gap: 6rem 3rem;
    align-content: center;
    border-bottom: 1px solid rgb(196, 194, 194);
}

.plan {
    font-size: 1.8rem;
    margin-bottom: 5rem;
}

.card {
    border-radius: 20px;
    overflow: hidden;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    box-shadow: 0 0 20px 10px #f0eded;
}

.card--header, .card--body {
    padding: 3rem 2.5rem;
}

.card--header {
    color: var(--color-white);
}

.card--primary .card--header {
    background-color: var(--color-primary-light);
}

.card--secondary .card--header {
    background-color: var(--color-secondary-dark);
}

.card .btn--secondary:hover {
    background-color: var(--color-primary-light);
}

.card .btn--primary:hover {
    background-color: var(--color-primary-light);
}

@media screen and (min-width: 768px) {
    .block--plan {
        flex-direction: row;
        justify-content: space-around;
    }
}

.plan--name {
    display: flex;
    justify-content: space-between;
}

.card--price {
    font-size: 3rem;
}

.plan--billing--cycle {
    font-size: 1.4rem;
}

.plan--description {
    display: block;
    margin-top: 1.5rem;
}

/* Feature */
.section--corporate {
    margin: 3rem;
}

.section--corporate .btn:hover {
    background-color: var(--color-primary-light);
}

@media screen and (min-width: 768px) {
    .section--corporate {
        justify-content: center;
    }
}

.corporate--service {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .corporate--service {
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .corporate--content {
        width: 45%;
    }
}

.vouchers--service {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .vouchers--service {
        flex-direction: row;
        justify-content: space-around;
    }
    .corporate--content {
        width: 45%;

    }
}

.section--corporate  h2 {
    margin-bottom: 30px;
}

.corporate--content button {
    margin-top: 4.3rem;
    padding: 1.5rem 3rem;
}

.section--corporate img {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}

@media screen and (min-width: 768px) {
    .section--corporate img {
        width: 45%;
        display: flex;
    }
    
}

.corporate--description {
    line-height: 3.2rem;
}

#contact--us {
    margin-top: 2.5rem;
    margin-right: 2.5rem;
}

.contact--map {
    width: 100%;
}

.block--contact {
    margin: 2rem 1rem;

}

@media screen and (min-width: 768px) {
   .block--contact {
    display: flex;
    justify-content: space-around;
    margin: 2.5rem;
    }
    
    .contact--map {
    width: 45%;
    }

    .contact--description {
        width: 45%;
        font-size: 1.4rem;
    }
}

.map {
    width: 100%;
    height: 28rem;
    border: none;
}

.icon--title {
    display: flex;

}

.icon--title i {
    color: rgb(27, 27, 65);
    font-size: 2rem;
}

.block--contact p {
    font-size: 1.4rem;
}

.contact--map p {
    margin: 1.5rem 0;
}

.contact--list {
    list-style: none;
    border-bottom: 1px solid rgb(196, 194, 194);
}

.contact--title {
    padding-right: 1rem;
}

.contact--list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.social ul {
    list-style: none;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.social a {
    color: rgb(196, 194, 194);
    margin: 1.5rem;
}

/* footer */
.main--footer {
    background-color: #000;
    padding: 2rem;
}

@media screen and (min-width: 768px) {
    .footer--content {
        display: flex;
        justify-content: space-between;
    }
}

.footer--items {
    margin: 1rem 0 3rem 0;
    color: var(--color-white);
}

.footer--content {
    margin: 2.5rem;
}

.footer--content img {
    width: 150px;
    height: 50px;
}

.footer--content h3 {
    color: var(--color-white);
    font-size: 1.2rem;
}

.footer--items h6 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.footer--items ul {
    line-height: 3rem;
    font-size: 1.2rem;
}

.trust {
    width: 260px;
    border-left: 1px solid rgb(196, 194, 194);
}

.trust img {
    width: 120px;
    height: 120px;
}

.block--social {
    width: 260px;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--color-navbar-);
    position: fixed;
    width: 100%;
    top: 0;
    padding: 1rem 10%;
    z-index: 3;
}

.nav--list {
    display: none;
    width: 100%;
}

.nav--items {
    padding: 1.5rem;
}

.nav--list a {
    color: var(--color-body);
}

.sign--up {
    display: none;
}

.nav--list a:hover {
    color: var(--color-primary);
}

@media screen and (min-width: 768px) {

    .none {
        display: none;
    }

    .nav--list {
        display: flex;
        width: auto;
    }
    
    .nav--list a {
        font-size: 1.5rem;
    }

    .sign--up {
        display: flex;
        padding: .9rem 4rem;
    }

    .sign--up:hover {
        transform: scale(.9);
    }
}

/* banner */
.banner--mobile {
    width: 100%;
    height: 500px;
}

.banner {
    display: none;
}

.hero--section .mockup {
    display: none;
}

@media screen and (min-width: 768px) {
    .banner {
        display: block;
        width: 100%;
        height: 508px;
    }

    .hero--section .mockup {
        display: flex;
        width: 420px;
        height: 620px;
    }

    .mockup {
        position: absolute;
        left: 8%;
        bottom: -15%;
    }
    
    .banner--mobile {
        display: none;
    }
}

.right--content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right--section {
    position: absolute;
    width: 270px;
    height: 400px;
    top: 5%;
    border-radius: 20px;
    padding: 16px;
    margin-top: 30px;
    background-image: linear-gradient(51deg,rgba(23,26,60,.7) 5%,rgba(23,26,60,.3) 95%);
}

@media screen and (min-width: 768px) {
    .right--content {
        align-items: flex-start;
        margin-right: 7%;
    }

    .right--section {
        width: 528px;
        height: 400px;
        margin-top: 60px;
    }

    .right--section h2 {
        margin-bottom: 15px;
    }
    
}

.right--section h1 {
    font-size: 3rem;
    color: #fff;
    width: 270px;
}

.right--section h2 {
    font-size: 1.6rem;
    color: #fff;
}

.btn--passanger {
    display: flex;
    flex-direction: column;
}

.btn--psg , .btn--drv {
    width: 238px;
    height: 50px;
    padding: 0;
    margin-bottom: 2px;
}

.btn--drv {
    background: none;
    color: #fff;
    border: 2px solid #fff;
}

@media screen and (min-width: 768px) {

    .intro--btn {
       margin-top: 60px;
    }

    .btn--passanger {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .btn--driver {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .btn--psg, .btn--drv {
        margin-bottom: 10px;
}

}

/* services tab */
.tapsi--services {
    margin: 30px auto;
}

.services--title {
    margin: auto 10px 30px;
}

.services--tab img {
    width: 75px;
    height: 65px;
    opacity: .5;
    margin: auto 12px;
}

.services--tab img:hover {
    opacity: 1;
}

.services--tab p {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.services--tab {
    display: flex;
    justify-content: space-around;
    overflow-x: scroll;
}


.tab--icons {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .tapsi--services {
        margin: 180px auto;
    }

    .services--title {
        margin: auto 50px 40px;
    }

    .services--tab {
        overflow: auto;
    }

    .services--tab img {
        width: 95px;
        height: 85px;
        margin: auto;
    }
}

.services--descriptions {
    margin: 3rem;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(196, 194, 194);
}

.services--descriptions h2 {
    margin-bottom: 30px;
}

.services--descriptions p {
    line-height: 3.2rem;
}

.services--descriptions img {
    display: none;
}

@media screen and (min-width: 768px) {
    .services--descriptions img {
        display: block;
        width: 45%;
    }

    .services--descriptions {
        display: flex;
        justify-content: space-around;
        padding-bottom: 80px;
    }

    .services--content {
        width: 45%;
    }    
}